
.icon-forward:before { content: '\e800'; } /* '' */
.icon-chat:before { content: '\e801'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-twitter-circled:before { content: '\f057'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */