* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.first-text-black h2 {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 44.84px;
  letter-spacing: 1.24px;
}

.first-text-black span {
  color: #b9b9b9;
  font-family: 'Playfair Display', serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 30.89px;
  letter-spacing: 0.84px;
}

.advocat-photo {
  background-image: url("../img/stock-photo.png");
  background-size: cover;
  background-position: center;
}

.about-us .container {
  padding: 80px 0 44px;
  position: relative;
}

.about-us .container .section-number {
  background: url(../img/01.png) no-repeat;
  width: 178px;
  height: 144px;
  position: absolute;
  opacity: 0.1;
  left: 8px;
}

.alon-smith {
  display: flex;
  justify-content: space-between;
  margin-top: 73px;
}

.alon-smith div:last-child {
  width: 600px;
}

.alon-smith .coma {
  background: url("../img/coma.png");
  width: 30px;
  height: 25px;
  color: #ffffff;
}

.alon-smith p {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.56px;
}

.alon-smith h2 {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.84px;
  line-height: 31px;
}

.first-text-white {
  margin-top: 10px;
}

.asked-questions {
  background-color: #111111;
}

.asked-questions .container {
  padding: 98px 0 169px;
  position: relative;
}

.asked-questions .section-number {
  background: url(../img/06.png) no-repeat;
  width: 215px;
  height: 144px;
  position: absolute;
  opacity: 0.1;
  left: 8px;
}

.attorneys .container {
  padding: 81px 0 100px;
  position: relative;
}

.attorneys .section-number {
  background: url(../img/03.png) no-repeat;
  width: 215px;
  height: 144px;
  position: absolute;
  opacity: 0.1;
  left: 8px;
}

.attorneys-photo {
  display: flex;
  justify-content: space-between;
  padding: 70px 0 0;
  margin: 0;
}
.attorneys-photo figure {
  margin: 0;
}

.attorneys-photo figcaption {
  color: #111111;
  font-family: 'Playfair Display', serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.84px;
  line-height: 31px;
  padding-top: 29px;
}

.attorneys-photo span {
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.clients-about {
  background-image: url(../img/stock-photo-15.png);
  background-size: cover;
  background-position: center;
  background-color: black;
}

.clients-about .container {
  padding: 98px 0 100px;
  position: relative;
}

.clients-about .section-number {
  background: url(../img/04.png) no-repeat;
  width: 215px;
  height: 144px;
  position: absolute;
  opacity: 0.1;
  left: 8px;
}

.first-text-white, .first-text-black {
  border-left: 2px solid;
  border-color: #e8bf5d;
  padding-left: 20px;
  width: 783px;
  margin-top: 10px;
}

.first-text-black h2 {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 44.84px;
  letter-spacing: 1.24px;
  margin: 0 0 20px;
}

.first-text-white h2 {
  color: #111111;
  font-family: 'Playfair Display', serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 44.84px;
  letter-spacing: 1.24px;
  margin: 0 0 20px;
}

.first-text-white span {
  color: #666666;
  font-family: 'Playfair Display', serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 30.89px;
  letter-spacing: 0.84px;
}

footer {
  background-color: #111111;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

footer span {
  color: #b5b5b5;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
}

footer .logo img {
  width: 16px;
  height: 16px;
  margin-left: 15px;
}

.chronology {
  display: flex;
}

.date {
  display: inline-block;
  float: right;
}

.description {
  width: 440px;
}

.description li {
  color: #111111;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.64px;
  margin-top: 7px;
  margin-bottom: 37px;
}

.expertise {
  width: 486px;
}

.expertise p {
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.56px;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

header .container nav ul {
  display: flex;
}

header .container nav li a {
  color: #111111;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: 0.56px;
  padding: 14px;
}

header .container nav li a:hover {
  border-bottom: 4px solid;
  border-color: #e8bf5d;
}

.history {
  width: 560px;
}

.history h3, .expertise h3 {
  color: #111111;
  font-family: 'Playfair Display', serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.84px;
}

.history-expertise {
  display: flex;
  padding: 0;
}

.list-headline {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.84px;
  margin-top: 0;
}

.practis-area {
  background-color: #111111;
}

.practis-area .container {
  padding: 78px 0;
  position: relative;
}

.practis-area .section-number {
  background: url(../img/02.png) no-repeat;
  width: 215px;
  height: 144px;
  position: absolute;
  opacity: 0.1;
  left: 8px;
}

.publications .container {
  padding: 98px 0 103px;
  position: relative;
}

.publications .section-number {
  background: url(../img/05.png) no-repeat;
  width: 215px;
  height: 144px;
  position: absolute;
  opacity: 0.1;
  left: 8px;
}

.publication-tite {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 70px 0;
}

.publication-tite li {
  position: relative;
  width: 370px;
  border-bottom: 2px  solid #e8bf5d;
}

.publication-tite figure {
  margin: 0;
}

.publication-tite .author {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.64px;
  line-height: 24px;
}

.publication-tite .date {
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  letter-spacing: 0.64px;
  line-height: 24px;
}

.publication-tite .text {
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.56px;
}

.publication-tite figcaption {
  font-family: 'Playfair Display', serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.84px;
  line-height: 31px;
  margin-bottom: 38px;
}

.publication-tite .comments, .publication-tite .share {
  color: #111111;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
}

.publication-tite .comments-share {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.questions {
  display: flex;
  margin-top: 96px;
}

.questions div {
  width: 500px;
  box-shadow: 0 12px 40px rgba(216, 178, 87, 0.32);
  border-radius: 3px;
  background-color: #e8bf5d;
  padding: 42px 48px 70px 46px;
  margin-left: 34px;
}

.questions div span {
  color: #111111;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.56px;
}

.questions ul {
  width: 566px;
  padding: 0;
  margin: 0;
  position: relative;
}

.questions ul li {
  border-bottom: 2px solid #e8bf5d;
  padding: 8px 0;
}

.questions ul li span:nth-child(2) {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 31px;
  letter-spacing: 0.56px;
  display: inline-block;
  float: right;
}

.questions ul li span:first-child {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.56px;
}

.questions ul li:first-child span:first-child {
  color: #e8bf5d;
}

.rounds {
  background: url("../img/rounds.png");
  width: 47px;
  height: 15px;
  margin: 25px auto;
}

.services {
  margin: 85px 0 0;
  padding: 0;
  column-count: 2;
}

.services li {
  width: 446px;
  padding-left: 75px;
  margin-top: 72px;
}

.services li:first-child {
  background: url("../img/hands.png") no-repeat;
  margin-top: 0;
}

.services li:nth-child(2) {
  background: url("../img/comp.png") no-repeat;
}

.services li:nth-child(3) {
  background: url("../img/key.png") no-repeat;
}

.services li:last-child {
  background: url("../img/home.png") no-repeat;
}

.span {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
  line-height: 25px;

}

.small-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 605px;
  padding-bottom: 141px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-container div h2 {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 2.6px;
  line-height: 45px;
  margin: 0 16px;
}

.small-container div h3 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 31px;
  letter-spacing: 1.24px;
  line-height: 36px;
  margin: 8px 16px 0;
  font-weight: 400;
}

.small-container .headlines {
  border-left: 2px solid;
  border-color: #e8bf5d;
}

.small-container .link {
  width: 181px;
  height: 50px;
  border-radius: 25px;
  background-color: #e8bf5d;
}

.small-container .link a {
  color: #111111;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.64px;
  display: block;
  text-align: center;
  padding: 8px 15px;
}

.year {
  padding: 0;
}

.year li {
  width: 67px;
  color: #111111;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.84px;
  margin-bottom: 52px;
  margin-top: 15px;
}