* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.practis-area .first-text-div h2 {
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 31px;
  font-weight: 400;
  line-height: 44.84px;
  letter-spacing: 1.24px;
}

.practis-area .first-text-div span {
  color: #b9b9b9;
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 400;
  line-height: 30.89px;
  letter-spacing: 0.84px;
}

.advocat-photo {
  background-image: url("../img/stock-photo.png");
  background-size: cover;
  background-position: center;
}

.about-us .container {
  padding: 80px 0 44px;
  position: relative;
}

.about-us .container .section-number {
  background: url(../img/01.png) no-repeat;
  width: 178px;
  height: 144px;
  position: absolute;
  opacity: 0.1;
  left: 8px;
}

.about-us .container .first-text-div {
  margin-top: 10px;
}

.first-text-div {
  border-left: 2px solid;
  border-color: #e8bf5d;
  padding-left: 20px;
  width: 783px;
}

.first-text-div h2 {
  color: #111111;
  font-family: "Playfair Display";
  font-size: 31px;
  font-weight: 400;
  line-height: 44.84px;
  letter-spacing: 1.24px;
  margin: 0 0 20px;
}

.first-text-div span {
  color: #666666;
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 400;
  line-height: 30.89px;
  letter-spacing: 0.84px;
}

.chronology {
  display: flex;
}


.description {
  width: 440px;
}

.description li {
  color: #111111;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.64px;
  margin-top: 7px;
  margin-bottom: 37px;
}

.expertise {
  width: 486px;
}

.expertise p {
  color: #666666;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.56px;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

header .container nav ul {
  display: flex;
}

header .container nav li a {
  color: #111111;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: 0.56px;
  padding: 14px;
}

header .container nav li a:hover {
  border-bottom: 4px solid;
  border-color: #e8bf5d;
}

.history {
  width: 560px;
}

.history h3, .expertise h3 {
  color: #111111;
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.84px;
}

.history-expertise {
  display: flex;
  padding: 0;
}

.practis-area {
  background-color: #111111;
}

.practis-area .container {
  padding: 78px 0;
  position: relative;
}

.practis-area .section-number {
  background: url(../img/02.png) no-repeat;
  width: 215px;
  height: 144px;
  position: absolute;
  opacity: 0.1;
  left: 8px;
}

.services {
  margin: 85px 0 0;
  padding: 0;
  column-count: 2;
}

.services li {
  width: 446px;
  padding-left: 75px;
  margin-top: 72px;
}

.services li:first-child {
  background: url("../img/hands.png") no-repeat;
  margin-top: 0;
}

.services li:nth-child(2) {
  background: url("../img/comp.png") no-repeat;
}

.services li:nth-child(3) {
  background: url("../img/key.png") no-repeat;
}

.services li:last-child {
  background: url("../img/home.png") no-repeat;
}

.list-headline {
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 21px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.84px;
  margin-top: 0;
}

.span {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
  line-height: 25px;

}

.small-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 605px;
  padding-bottom: 141px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-container div h2 {
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 2.6px;
  line-height: 45px;
  margin: 0 16px;
}

.small-container div h3 {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 31px;
  letter-spacing: 1.24px;
  line-height: 36px;
  margin: 5px 16px 0;
}

.small-container .headlines {
  border-left: 2px solid;
  border-color: #e8bf5d;
}

.small-container .link {
  width: 181px;
  height: 50px;
  border-radius: 25px;
  background-color: #e8bf5d;
}

.small-container .link a {
  color: #111111;
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.64px;
  display: block;
  text-align: center;
  padding: 8px 15px;
}

.year {
  padding: 0;
}

.year li {
  width: 60px;
  color: #111111;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.84px;
  margin-bottom: 52px;
  margin-top: 15px;
}